.name{
  font-size:large;
  font-weight: 900;
  font-style: italic;
}

.price{
  color: green;
  font-weight: 700;
}

.add-btn{
  height: 36px;
  width: 105px;
  border-radius: 18px;
  border: none;
  background-color: rgb(255, 216, 20);
  transition: opacity 0.15s;
}

.add-btn:hover{
  opacity: 0.8;
}

.add-btn:active{
  opacity: 0.4;
}

.buy-btn{
  height: 36px;
  width: 105px;
  border-radius: 18px;
  border: none;
  background-color: rgb(255, 164, 28);
  transition: opacity 0.15s;
}

.buy-btn:hover{
  opacity: 0.8;
}

.buy-btn:active{
  opacity: 0.4;
}
