button{
  background-color: green;
  color: white;
  height: 40px;
  width: 105px;
  font-weight: 800;
  border: none;
  transition: 0.7s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

button:active{
  box-shadow: none;
}